{{- $email := promptString "Email" -}}

cd:
  command: nu

merge:
  command: "nvim"
  args: ["-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}, {{`"{{ .Target }}"`}}]

data:
  email: {{ $email | quote }}

