[user]
	email = {{ .email | quote }}
	name = Sebastian Krieger
[rerere]
	enabled = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[merge]
  tool = diffview
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  df = diff
  lg = log --oneline
  cl = clone
  lga = log --oneline --decorate --all --graph
  last = log -1 HEAD
