{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.homebrew -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ if eq .chezmoi.osRelease.id "fedora" -}}
{{ range .packages.linux.fedora.copr -}}
sudo dnf copr enable {{ .repo | quote }}
sudo dnf install {{ .name | quote }}
{{ end -}}
{{ end -}}

{{ end -}}
